$primary-color: #e9192d;
$secondary-color: #1c1c3a;
$font-family-main: "Cinzel", cursive;
$font-family-secondary: "Bangers", cursive;
$background-color: #efe2d0;

/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: $background-color !important;
    /* overflow-x:hidden; */
}

/* NAVBAR */

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    background: $secondary-color;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 93%;
    margin: auto;
}

.menu {
    display: flex;
}

nav li {
    list-style: none;
    margin: 0 15px;
    padding-top: 7px;
}

nav li a {
    font-family: $font-family-secondary;
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover {
    color: #FFD700;
    text-decoration: none;
}

nav img {
    width: 200px;
    height: auto;
    max-height: 75px;
    object-fit: contain;
    margin-bottom: 6px;
}

nav .toggle_btn {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* DROPDOWN MENU */
nav .dropdown {
    position: absolute;
    right: 2rem;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 365px;
}

nav .dropdown li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE NAVBAR */

@media (max-width: 1064px) {
    nav .navbar li{
        display: none;
    }
    nav .toggle_btn{
        display: block;
        margin-left: auto;
    }
    nav img {
        /* HELP PLS */
        }
    nav .dropdown {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
}
    


/* HEADER */
.header-section {
    margin-top: 90px;
    position: relative;
    background-image: url("../images/yugisetocropped.jpg"); 
    height: 92vh; 
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#intro {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

header h1 {
    font-family: $font-family-main, cursive;
    font-size: 36px;
    margin-bottom: 5px;
    text-shadow: 
        -3px -3px 0 rgba(0, 0, 0, 1),  
        3px -3px 0 rgba(0, 0, 0, 1),
        -3px 3px 0 rgba(0, 0, 0, 1),
        3px 3px 0 rgba(0, 0, 0, 1),
        0 0 5px rgba(0, 0, 0, 1); 
}

header p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    text-shadow: 
        -3px -3px 0 rgba(0, 0, 0, 1),  
        3px -3px 0 rgba(0, 0, 0, 1),
        -3px 3px 0 rgba(0, 0, 0, 1),
        3px 3px 0 rgba(0, 0, 0, 1),
        0 0 5px rgba(0, 0, 0, 1); 
}

header .btn {
    font-family: $font-family-secondary, cursive;
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
    
    background: $primary-color;
    border-radius: 50px;
    transition: background 0.3s;
    padding-left: 30px;
    padding-right: 40px;
}

header .btn:hover {
    background: #ffffff;
    color: $secondary-color;
    text-decoration: none;
}
@media (max-width: 1450px) {
    header .hero-content {
        width: 35%;
        padding-bottom: 100px;
    }
    header a {
        font-size: 40px;
    }
}

/* SECTIONS */

.rounded-top {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

#sec1 .card-body {
    background-color: $background-color;
}

#sec1 img {
    background-color: $background-color;    
}

#sec1 #bruh {
    background-color: $background-color;    
}

#sec1 a {
    display: block; 
}

#sec1 a {
    color: #051430;
}

#sec1 a:hover {
    text-decoration: none;
}

section {
    color: #051430;
    font-family: Fredoka One;
}

section p {
    color: #051430;
    font-family: raleway;
    font-size: 18.5px;
}

#sec2 {
    background-color: #f0e9e0;
}

#sec3 h5{
    background-color: black;  
    color: white;           
    padding: 5px 10px;     
    display: inline-block;   
    border-radius: 14px;       
}

#sec4 {
    background-color: #f0e9e0;
}

#sec4 .btn {
background-color: $primary-color;
}

#card-types {
    background-color: #f0e9e0;
}

#winning-conditions  {
    background-color: #f0e9e0;
}

#winning-conditions img {
    width: 500px;
    border: 7px solid;
    border-radius: 10px;
}

#resources {
    margin-top: 90px;
}

#resources img {
    border: 7px solid #051430;
    border-radius: 10px;
}

#placeholder {
    width: 240px;
    height: 330px;
    border: 4px dashed #89CFF0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 16px;
  }

#card {

    width: 250px;
    cursor: grab;
  }

#drag {
    background-color: #f0e9e0;
}

#tournament-info {
    margin-top: 90px;
}

#distance-calculator {
    background-color: #f0e9e0;
}

#distance-calculator button {
    background-color: $primary-color;
}

#form button {
    background-color: $primary-color;
}

#form {
    background-color: #f0e9e0;
}

#table .table-bordered {
    border: 2px solid black;
  }

#table .table-bordered td {
    border: 2px solid black;
  }
/* FOOTER */
    
.footer1 {
    background: $secondary-color;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
.footer1 .row1 {
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
.footer1 .row1 a {
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
.footer1 .row1 a:hover {
    color:#fff;
    }

    
.footer1 .row1 a i {
    font-size:30px;
    margin:0% 1%;
    }
    
@media (max-width:720px){
 .footer1 {
    text-align:left;
    padding:5%;
    }
 .footer1 .row1 ul li {
    display:block;
    margin:10px 0px;
    text-align:left;
    }
 .footer1 .row1 a i {
    margin:0% 3%;
    }
    }
